<!DOCTYPE html>
<html lang="es-ec">

<head>
  <base href="https://facultadartescuenca.com/museovirtual">
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Editor (MVUC) para el Museo Virtual de la Facultad de Artes de la Universidad de Cuenca. Página de Login al Editor.">
  <meta name="keywords" content="Editor, Museo, Virtual, Universidad, Cuenca, Facultad, Artes, UCuenca, MVUC">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery-3.5.1.slim.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
  <div class="container pt-4 pb-4 text-center">
    <div class="jumbotron bg-dark rounded">
      <img src="/images/escudo-final.png" style="width: 27%;" alt="Universidad de Cuenca" />
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <img src="/images/fac-artes.png" style="width: 14%;" alt="Facultad de Artes" />
      <br />
      <br />
      <h1 style="color: whitesmoke;">Editor - Museo Virtual</h1>
      <h3 style="color: whitesmoke;">Facultad de Artes - Universidad de Cuenca</h3>
    </div>
    <% if (show_alert) { %>
    <div class="alert alert-danger">
      <strong>La cuenta <b><%= mail %></b> no está autorizada para usar el Editor MVUC.</strong>
    </div>
    <br />
    <% } %>
    <p>Inicie sesión con una cuenta de Google autorizada para usar el Editor MVUC.</p>
    <br />
    <a type="button" href="<%= loginLink %>" class="btn btn-outline-secondary btn-block">
      <img src="/images/google.png" alt="Google Sign In" style="height: 44px; width: 44px;">
      <span>&nbsp;&nbsp;Google Sign In</span>
    </a>
  </div>
</body>

</html>