<nav class="navbar navbar-expand-xl navbar-dark bg-dark sticky-top">
    <span class="navbar-brand"><img src="/images/escudo-final.png" alt="Universidad de Cuenca"
            style="height: 50px; width: 150px;" />&nbsp;&nbsp;&nbsp;&nbsp;Editor-MVUC</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto" id="barra-nav">
            <li class="nav-item">
                <a class="nav-link" href="/editor/inicio">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crudMuseo">Museos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/crudSalas">Salas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Enlaces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Obras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/editorComentarios">Comentarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/editor/usuarios">Usuarios</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-xl-0" method="GET" action="/editor/logout">
            
            <button class="btn btn-link my-2 my-sm-0" type="submit" style="color: whitesmoke;">Log Out</button>
        </form>
    </div>
</nav>
<script>
    $(document).ready(function () {
        var pathname = window.location.pathname;
        $('#barra-nav > li > a[href="' + pathname + '"]').parent().addClass('active');
    })
</script>