<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <span class="navbar-brand"><img src="https://facultadartescuenca.com/museovirtual/images/escudo-final.png" alt="Universidad de Cuenca"
            style="height: 50px; width: 150px;" />&nbsp;&nbsp;&nbsp;&nbsp;Editor-MVUC</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto" id="barra-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://facultadartescuenca.com/museovirtual/editor/inicio">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://facultadartescuenca.com/museovirtual/crudMuseo">Museos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://facultadartescuenca.com/museovirtual/crudSalas">Salas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://facultadartescuenca.com/museovirtual/obras">Obras y Enlaces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://facultadartescuenca.com/museovirtual/editorComentarios">Comentarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://facultadartescuenca.com/museovirtual/editor/usuarios">Usuarios</a>
            </li>
        </ul>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false" style="color: whitesmoke;"><img src="<%= picture %>" style="height: 44px; width: 44px; border-radius: 50%;"
                    alt="<%= picture %>">&nbsp;</a>
            <div data-display="static" class="dropdown-menu dropdown-menu-xl-right">
                <span class="dropdown-item"><%= username %></span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://facultadartescuenca.com/museovirtual/editor/logout">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</nav>
<script>
    $(document).ready(function () {
        var pathname = window.location.pathname;
        $('#barra-nav > li > a[href="' + pathname + '"]').parent().addClass('active');
    })
</script>