<!DOCTYPE html>

<html lang="es-ec">

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <style>
        body {
            background: rgb(25, 25, 25);
        }

        #viewer3DModel {
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
        }
    </style>
</head>

<body>
    <div id="viewer3DModel"></div>
    <script src="/javascripts/js-3d-model-viewer.js"></script>
    <script>
        var modelPlayer = this['js-3d-model-viewer']
        const viewerElement = document.getElementById('viewer3DModel')
        const scene = modelPlayer.prepareScene(viewerElement)
        modelPlayer.loadObject(scene, '/static_assets/<%= archivo %>') // Urls are fine here.
    </script>
</body>

</html>